@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 1025px;
  height: min-content;
  margin: auto;
  margin-top: 16px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 662px 363px;
}
.containerE {
  width: 1025px;
  height: min-content;
  margin: auto;
  margin-top: 16px;
  display: grid;
  text-align: center;
}
.error{
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
}
.img {
  width: 662px;
  height: 372.38px;
}
.story-container {
  background-color: white;
}
.author {
  color: #7f7f7f;
  font-size: 14px;
  margin-left: 16px;
  margin-top: 16px;
}
.title {
  color: black;
  font-size: 30px;
  text-align: left;
  font-family: "Lato";
  font-weight: 700;
  margin-left: 16px;
  margin-top: 0px;
  margin-right: 16px;
}
.summary {
  color: #7f7f7f;
  font-size: 16px;
  font-style: italic;
  margin-left: 16px;
  margin-top: -10px;
  margin-right: 16px;
}
.text {
  margin-left: 16px;
  margin-right: 16px;
  color: #3d3d3d;
  font-size: 16px;
  font-family: "Merriweather", serif;
  margin-bottom: 25px;
  line-height: 2;
}
.add-content {
  width: 300px;
  height: 250px;
  background-color: #666666;
  margin-top: 16px;
}
.add-box1 {
  grid-row: 1;
  grid-column: 2;
  padding-left: 32px;
}
.add-box2 {
  grid-row: 1;
  grid-column: 2;
  padding-left: 32px;
}
.story-button-save-div{
  display: flex;
  padding: 0;
  width: 80%;
  height: 30px;
  flex-direction: row-reverse;
  border: 20px;
}
.story-button-save{
  align-items: left;
  justify-content: center;
  width: 100px;
}
.story-button-save:focus{
  background-color:rgb(255, 127, 127)
}

@media only screen and (max-width: 375px) {
  .containerE {
    width: 343px;
    height: min-content;
    margin: auto;
    margin-top: 16px;
    display: grid;
    text-align: center;
  }
  .container {
    width: 343px !important;
    height: min-content;
    margin: auto;
    margin-top: 16px;
    grid-template-columns: 343px;
  }
  .img {
    width: 100%;
    height: auto;
  }
  .title {
    color: black;
    font-size: 30px;
    text-align: left;
    font-family: "Lato";
    font-weight: 700;
    margin-left: 16px;
    margin-top: 0px;
    margin-right: 16px;
  }
}
